$mainBlue: #185adb;
$secondaryYellow: #ffc947;
$secondaryCream: #feddbe;
$secondaryDarkBlue: #0a1931;

$allColors: #ffc947, #feddbe, #0a1931;

.main-title {
    height: 100vh;
    width: 100vw;   
    overflow-x: hidden; 
    margin-bottom: 10%;
}

.title-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    left: 0;

    position: absolute;

    filter: grayscale(100%);
    filter: brightness(5%);
}

.center-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.the {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    line-height: 10%;
    color: black;
    margin-left: 5%;
}

.title {
    font-family: 'Damion', cursive;
    font-size: 15rem;
    color: $mainBlue;
    line-height: 10%;
}

.cool {
    margin-right: 30%;
}

.places {
    margin-left: 10%;
}


//////////////////////////////////////////

.title-right {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

////////////////////////////////////////// NAVBAR

.navbar {
    background-color: black;
    color: white;

    margin-top: -10%;
    margin-bottom: 10%;

    top: 0;
    position: sticky;
    position: -webkit-sticky;

    z-index: 1;
}

.navbar-logo {
    text-align: left;
    font-family: 'Damion', cursive;
    color: $mainBlue;
    margin-left: 10%; 
    cursor: pointer;
}

.navbar-component {
    display: inline-block;
    font-family: 'Bebas Neue', cursive;

    margin-left: 5%;
    margin-right: 5%;

    cursor: pointer;

    transition: 0.2s;

    &:hover {
        box-shadow: inset 0px -7px 0px $mainBlue;
    }
}

////////////////////////////////////////// CONTENT

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-rect {
    position: absolute;
    display: block;
    width: 100vw;
    height: 200px;
    background-color: red;

    left: 65%;

    margin-top: 1.5%;

    z-index: -1;
}

////////////////////////////////////////

.popular-title {

    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;

    margin-top: 15%;

    & span {
        color: $mainBlue;
    }

}

.popular-card {
    
    & .media-img {
        transition-duration: 1s;
    }

    &:hover {
        // cursor: pointer;

        & .media-img {
            transform: scale(1.1);
        }
    }

}

.card-title {
    font-family: 'Bebas Neue', cursive;
    padding: 16px;
}

.card-desc {
    font-size: 1.5rem;
    padding: 16px;

}

.start-planning {
    font-family: 'Damion', cursive;
    font-size: 3rem;
    color: $mainBlue;
    margin-top: -6%;
}

.content-svg-image {
    // position: absolute;
    // right: 20%;
}