.main-title {
    height: 100vh;
    color: red;
}

.title-image {
    height: 100vh;
    width: 100vw;

    left: 0;

    position: absolute;

    filter: grayscale(100%);
    filter: brightness(5%);
}

.title-grid {
    position: absolute;
}

.title {
    font-family: 'Damion', cursive;
    font-size: 4rem;
    color: #185adb;
}